h1{
  text-align: center;
}
.panel-title{
  text-align: center;
}
#secondHeadline{
  text-align: center;
}
#frontHeadLine{
  text-align: center;
}
.divclass{
  font-family: cursive;
  font-size: 30px;
}
img{
  float:right;
}
#headline{
  font-family: cursive;
  color: #06800D;
}
body{
  background-color: #DAF7A6;
}
.image
{
  border:5px solid lightskyblue;
  padding:2px;
  margin:2px;
}
#hTagID
{
  font-family: cursiv;
  color: red;

}
#pTagID
{
  color:red;

}
#aTagID
{
 color: blue;
}
#imgTagID
{
color:orange;
}
#divTagID
{
  color:red;
}
