h1{
  text-align: center;
}
.panel-title{
  text-align: center;
}
#secondHeadline{
  text-align: center;
}
#frontHeadLine{
  text-align: center;
}
.divclass{
  font-family: cursive;
  font-size: 30px;
}
